# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,

capkpi/accounts/               @nextchamp-saqib @deepeshgarg007 @ruthra-kumar
capkpi/assets/                 @nextchamp-saqib @deepeshgarg007 @ruthra-kumar
capkpi/capkpi_integrations/   @nextchamp-saqib
capkpi/loan_management/        @nextchamp-saqib @deepeshgarg007
capkpi/regional                @nextchamp-saqib @deepeshgarg007 @ruthra-kumar
capkpi/selling                 @nextchamp-saqib @deepeshgarg007 @ruthra-kumar
capkpi/support/                @nextchamp-saqib @deepeshgarg007
pos*                            @nextchamp-saqib

capkpi/buying/                 @marination @rohitwaghchaure @s-aga-r
capkpi/e_commerce/             @marination
capkpi/maintenance/            @marination @rohitwaghchaure @s-aga-r
capkpi/manufacturing/          @marination @rohitwaghchaure @s-aga-r
capkpi/portal/                 @marination
capkpi/quality_management/     @marination @rohitwaghchaure @s-aga-r
capkpi/shopping_cart/          @marination
capkpi/stock/                  @marination @rohitwaghchaure @s-aga-r

capkpi/crm/                    @NagariaHussain
capkpi/education/              @rutwikhdev
capkpi/healthcare/             @chillaranand
capkpi/hr/                     @ruchamahabal
capkpi/non_profit/             @ruchamahabal
capkpi/payroll                 @ruchamahabal
capkpi/projects/               @ruchamahabal

capkpi/controllers             @deepeshgarg007 @nextchamp-saqib @rohitwaghchaure @marination
capkpi/patches/                @deepeshgarg007 @nextchamp-saqib @marination rohitwaghchaure
capkpi/public/                 @nextchamp-saqib @marination

.github/                        @ankush
requirements.txt                @gavindsouza @ankush
